$font-family: "Work Sans", serif;
$font-style: normal;
// variables.$font-family
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$color-primary: #11014f;
$color-secondary: #403372;
$color-tertiary: #e8114b;
$color-soft-white: rgb(255, 255, 255, .2);
$color-light-blue: rgb(70, 88, 223);
$color-border-inp: rgb(224, 224, 224);

// texts
$text-gray-bold: rgb(48, 48, 48);
$text-gray: #5c5c5c;
$color-white: #fefffe;

// forms
$input-background: #f3f2f6;